<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IControlCalidadServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ControlCalidad.Servidor.Servicio/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IControlCalidadServicio"
                contract="ControlCalidadServiceReference.IControlCalidadServicio"
                name="BasicHttpBinding_IControlCalidadServicio" />
        </client>
    </system.serviceModel>
</configuration>