@using ControlCalidad.Cliente.Presentacion.Web.Models.Color
@model ListaColoresViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaColores</title>
</head>
<body>
    <div>
        hola
    </div>
</body>
</html>
