@using ControlCalidad.Cliente.Presentacion.Web.Models.Linea
@model IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalSitie.cshtml";
}

<h2>Index Lineas de trabajo</h2>

